
<h2>cadastro-de-conta</h2>

<form [formGroup]="form">

  <div class="field">
    <label for="fullName">Full Name</label>
    <input id="fullName" type="text" formControlName="fullName" />
  </div>

  <div class="field">
    <label for="email">Email</label>
    <input id="email" type="email" formControlName="email" />
  </div>

  <div class="field">
    <label for="password">Password</label>
    <input id="password" type="password" formControlName="password" />
  </div>

  <div class="field">
    <label for="confirmPassword">Confirm Password</label>
    <input id="confirmPassword" type="password" formControlName="confirmPassword" />
  </div>

  <div class="field">
    <label for="acceptTerms">Accept Terms</label>
    <input id="acceptTerms" type="checkbox" formControlName="acceptTerms" />
  </div>

  <button type="submit" [disabled]="form.invalid">Cadastrar</button>
</form>
